<footer>
  <div class="container">
    <h2>Thornscrub Sanctuary</h2>
    <p>South Texas • Private Land Stewardship Project</p>
    <div>
      <h3>Contact:</h3>
      <p>
        <a href="mailto:thornscrubsanctuary@gmail.com"
          >thornscrubsanctuary@gmail.com</a
        >
      </p>
    </div>

    <div>
      <h3>Follow Along:</h3>
      <a
        href="https://www.youtube.com/@CrimePaysButBotanyDoesnt"
        target="_blank">YouTube: Crime Pays But Botany Doesn't</a
      >
    </div>
    <p>
      ©{new Date().getFullYear()} Thornscrub Sanctuary. All rights reserved.
    </p>
  </div>
</footer>

<style>
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--charcoal-shade);
    color: var(--limestone-dust);
  }
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
  }
  h3 {
    font-size: 20px;
  }
  a {
    color: var(--limestone-dust);
  }
</style>
