<footer>
  <div class="container">
    <h2>Thornscrub Sanctuary</h2>
    <a href="https://www.youtube.com/@CrimePaysButBotanyDoesnt" target="_blank"
      >YouTube: Crime Pays But Botany Doesn't</a
    >
  </div>
</footer>

<style>
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--charcoal-shade);
    color: var(--limestone-dust);
  }

  a {
    color: var(--limestone-dust);
  }
</style>
