---
import { aRefuge } from "@data/vars"
---

<section id="ourVision">
  <div class="container container--text-center">
    <h2>Our Vision: A Refuge for the Overlooked Wilds of Texas</h2>
    <p>
      A land sanctuary in the South Texas thornscrub — raw, quiet, and full of
      life. A long-haul project of restoration, respect, and native plant
      reverence.
    </p>
    <div class="row">
      {
        aRefuge.map((paragraph) => (
          <div class="row__item">
            <h3>{paragraph.header}</h3>
            <ul>
              {paragraph.bulletPoints.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <p>
      Thornscrub Habitat, like all habitats, is a living machine that supports
      and enables life to thrive in the extreme climate of South Texas, one of
      the hottest places in the United States. Science and spiritual respect for
      habitat are not mutually exclusive - in most cases they are mutually
      important and necessary components for the responsible stewardship of the
      living skin of the Earth in any particular region. To properly care for
      land and ecosystem, one must understand how all the components of it
      function to support each other.
    </p>
  </div>
</section>

<style>
  section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--mesquite-leaf);
    color: var(--limestone-dust);
  }
  h2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    max-width: 326px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-top: 21px;
    font-size: 24px;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
  }
  .row {
    display: flex;
    gap: 1rem;
    margin-top: 31px;
    flex-direction: column;
  }
  @media screen and (min-width: 600px) {
    .row {
      flex-direction: row;
    }
  }
  .row__item {
    flex: 1;
    border-radius: 28px;
    padding: 20px;
    color: var(--charcoal-shade);
    background-color: var(--limestone-dust);
  }
</style>
