---
import { Image } from "astro:assets"
import lizardSmiling from "../../images/lizard-smiling-373w.png"
---

<section>
  <div class="container container--text-center">
    <h2>Scenes from the Sanctuary</h2>
    <div class="gallery">
      <Image
        class="gallery__image"
        src={lizardSmiling}
        alt="A cactus with purple flowers"
      />
      <Image
        class="gallery__image"
        src={lizardSmiling}
        alt="A cactus with purple flowers"
      />
      <Image
        class="gallery__image"
        src={lizardSmiling}
        alt="A cactus with purple flowers"
      />
    </div>
  </div>
</section>

<style>
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .gallery {
    margin-top: 21px;
    display: flex;
    column-gap: 1rem;
  }
  .gallery__image {
    flex: 1 1 auto;
    object-fit: cover;
    width: calc((100% - 2rem) / 3);
  }
</style>
