<header>
  <menu>
    <li><a href="/">The Land</a></li>
    <li><a href="/">Vision</a></li>
    <li><a href="/">Scenes from the Sanctuary</a></li>
    <li><a href="/">Help Us</a></li>
  </menu>
</header>

<style>
  header {
    color: var(--limestone-dust);
    background-color: var(--mesquite-shade);
  }
  menu {
    max-width: 1200px;
    margin: 0 auto 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 20px;
    display: flex;
    list-style-type: none;
    column-gap: 1em;
  }
  a {
    text-decoration: none;
    color: var(--limestone-dust);
  }
</style>
